In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [24]:
import pandas as pd

file_path = "/content/drive/MyDrive/23-1 ITS 데이터 분석 스터디 : 프로젝트 1팀/데이터 아카이브/추가 데이터/제경/물가지수/"
file_name = "품목별소비자물가지수_201801~202306.csv"

df = pd.read_csv(file_path + file_name, encoding='cp949')
print(len(df))

484

In [25]:
df.head(10)

,시도별,품목별,항목,단위,2018.01 월,2018.02 월,2018.03 월,2018.04 월,2018.05 월,2018.06 월,...,2022.09 월,2022.10 월,2022.11 월,2022.12 월,2023.01 월,2023.02 월,2023.03 월,2023.04 월,2023.05 월,Unnamed: 69
0,전국,총지수,소비자물가지수[2020=100],2020=100,98.106,98.855,98.751,98.931,98.979,98.779,...,108.93,109.21,109.10,109.28,110.10,110.38,110.56,110.80,111.13,NaN
1,전국,농축수산물,소비자물가지수[2020=100],2020=100,92.106,96.765,93.794,94.180,92.509,90.217,...,118.99,114.68,109.78,110.64,113.60,112.96,113.15,111.53,112.07,NaN
2,전국,(농산물)곡물,소비자물가지수[2020=100],2020=100,84.345,86.078,87.938,89.816,90.337,90.695,...,93.93,94.40,97.81,97.15,95.82,96.03,95.67,95.33,95.68,NaN
3,전국,쌀,소비자물가지수[2020=100],2020=100,82.418,84.490,86.893,89.075,89.636,90.086,...,90.34,91.08,96.16,95.76,94.26,94.57,93.99,93.46,94.05,NaN
4,전국,현미,소비자물가지수[2020=100],2020=100,83.784,84.536,85.218,85.762,86.229,86.160,...,101.72,101.01,100.42,98.89,98.31,97.65,96.11,96.10,95.97,NaN
5,전국,찹쌀,소비자물가지수[2020=100],2020=100,83.705,84.971,85.605,86.802,87.053,87.070,...,97.04,96.87,95.84,94.76,92.70,93.45,93.18,93.16,92.85,NaN
6,전국,보리쌀,소비자물가지수[2020=100],2020=100,111.027,111.832,111.194,111.497,111.362,111.424,...,109.55,110.14,111.09,110.78,111.73,112.13,113.12,113.65,113.76,NaN
7,전국,콩,소비자물가지수[2020=100],2020=100,94.559,95.983,97.416,101.292,103.054,104.149,...,102.52,102.75,102.03,100.24,99.36,97.91,98.18,98.36,98.12,NaN
8,전국,땅콩,소비자물가지수[2020=100],2020=100,88.170,87.922,88.046,88.153,87.344,87.486,...,106.40,106.03,106.44,106.79,107.17,107.30,107.93,108.11,108.95,NaN
9,전국,혼식곡,소비자물가지수[2020=100],2020=100,90.008,91.151,92.138,92.968,92.998,93.027,...,104.20,104.08,105.56,104.31,103.44,104.95,107.08,106.91,106.58,NaN

In [26]:
df.columns[4][:-2]

'2018.01'

In [27]:
def is_in_mtr_arr(seq):
  mtr_arr =['무', '갈치', '고등어', '닭고기', '양파', '배추', '냉동참조기', '오징어', '조기', '애호박', '사과', '동태', '호박', '배', '쇠고기', '달걀', '상추', '돼지고기', '오이', '명태', '삼겹살', '쌀']
  if seq in mtr_arr:
    return True
  else:
    return False

In [28]:
mtr_arr =['무', '갈치', '고등어', '닭고기', '양파', '배추', '냉동참조기', '오징어', '조기', '애호박', '사과', '동태', '호박', '배', '쇠고기', '달걀', '상추', '돼지고기', '오이', '명태', '삼겹살', '쌀']

df_new = df["품목별"].apply(lambda x: is_in_mtr_arr(x))
len(df_new)

484

In [29]:
df = df[df_new]

In [30]:
len(df)

17

In [35]:
df_new = df.reset_index()
df_new = df_new.drop(["index"], axis=1)

df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 70 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   시도별          17 non-null     object
 1   품목별          17 non-null     object
 2   항목           17 non-null     object
 3   단위           17 non-null     object
 4   2018.01 월    17 non-null     float64
 5   2018.02 월    17 non-null     float64
 6   2018.03 월    17 non-null     float64
 7   2018.04 월    17 non-null     float64
 8   2018.05 월    17 non-null     float64
 9   2018.06 월    17 non-null     float64
 10  2018.07 월    17 non-null     float64
 11  2018.08 월    17 non-null     float64
 12  2018.09 월    17 non-null     float64
 13  2018.10 월    17 non-null     float64
 14  2018.11 월    17 non-null     float64
 15  2018.12 월    17 non-null     float64
 16  2019.01 월    17 non-null     float64
 17  2019.02 월    17 non-null     float64
 18  2019.03 월    17 non-null     float64
 19  2019.04 월    17 non-null     float64
 20  2019.05 월    17 non-null     float64
 21  2019.06 월    17 non-null     float64
 22  2019.07 월    17 non-null     float64
 23  2019.08 월    17 non-null     float64
 24  2019.09 월    17 non-null     float64
 25  2019.10 월    17 non-null     float64
 26  2019.11 월    17 non-null     float64
 27  2019.12 월    17 non-null     float64
 28  2020.01 월    17 non-null     float64
 29  2020.02 월    17 non-null     float64
 30  2020.03 월    17 non-null     float64
 31  2020.04 월    17 non-null     float64
 32  2020.05 월    17 non-null     float64
 33  2020.06 월    17 non-null     float64
 34  2020.07 월    17 non-null     float64
 35  2020.08 월    17 non-null     float64
 36  2020.09 월    17 non-null     float64
 37  2020.10 월    17 non-null     float64
 38  2020.11 월    17 non-null     float64
 39  2020.12 월    17 non-null     float64
 40  2021.01 월    17 non-null     float64
 41  2021.02 월    17 non-null     float64
 42  2021.03 월    17 non-null     float64
 43  2021.04 월    17 non-null     float64
 44  2021.05 월    17 non-null     float64
 45  2021.06 월    17 non-null     float64
 46  2021.07 월    17 non-null     float64
 47  2021.08 월    17 non-null     float64
 48  2021.09 월    17 non-null     float64
 49  2021.10 월    17 non-null     float64
 50  2021.11 월    17 non-null     float64
 51  2021.12 월    17 non-null     float64
 52  2022.01 월    17 non-null     float64
 53  2022.02 월    17 non-null     float64
 54  2022.03 월    17 non-null     float64
 55  2022.04 월    17 non-null     float64
 56  2022.05 월    17 non-null     float64
 57  2022.06 월    17 non-null     float64
 58  2022.07 월    17 non-null     float64
 59  2022.08 월    17 non-null     float64
 60  2022.09 월    17 non-null     float64
 61  2022.10 월    17 non-null     float64
 62  2022.11 월    17 non-null     float64
 63  2022.12 월    17 non-null     float64
 64  2023.01 월    17 non-null     float64
 65  2023.02 월    17 non-null     float64
 66  2023.03 월    17 non-null     float64
 67  2023.04 월    17 non-null     float64
 68  2023.05 월    17 non-null     float64
 69  Unnamed: 69  0 non-null      float64
dtypes: float64(66), object(4)
memory usage: 9.4+ KB

In [36]:
df.columns[-1]

'Unnamed: 69'

In [37]:
df_new = df_new.drop(['Unnamed: 69'], axis=1)
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 69 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시도별        17 non-null     object
 1   품목별        17 non-null     object
 2   항목         17 non-null     object
 3   단위         17 non-null     object
 4   2018.01 월  17 non-null     float64
 5   2018.02 월  17 non-null     float64
 6   2018.03 월  17 non-null     float64
 7   2018.04 월  17 non-null     float64
 8   2018.05 월  17 non-null     float64
 9   2018.06 월  17 non-null     float64
 10  2018.07 월  17 non-null     float64
 11  2018.08 월  17 non-null     float64
 12  2018.09 월  17 non-null     float64
 13  2018.10 월  17 non-null     float64
 14  2018.11 월  17 non-null     float64
 15  2018.12 월  17 non-null     float64
 16  2019.01 월  17 non-null     float64
 17  2019.02 월  17 non-null     float64
 18  2019.03 월  17 non-null     float64
 19  2019.04 월  17 non-null     float64
 20  2019.05 월  17 non-null     float64
 21  2019.06 월  17 non-null     float64
 22  2019.07 월  17 non-null     float64
 23  2019.08 월  17 non-null     float64
 24  2019.09 월  17 non-null     float64
 25  2019.10 월  17 non-null     float64
 26  2019.11 월  17 non-null     float64
 27  2019.12 월  17 non-null     float64
 28  2020.01 월  17 non-null     float64
 29  2020.02 월  17 non-null     float64
 30  2020.03 월  17 non-null     float64
 31  2020.04 월  17 non-null     float64
 32  2020.05 월  17 non-null     float64
 33  2020.06 월  17 non-null     float64
 34  2020.07 월  17 non-null     float64
 35  2020.08 월  17 non-null     float64
 36  2020.09 월  17 non-null     float64
 37  2020.10 월  17 non-null     float64
 38  2020.11 월  17 non-null     float64
 39  2020.12 월  17 non-null     float64
 40  2021.01 월  17 non-null     float64
 41  2021.02 월  17 non-null     float64
 42  2021.03 월  17 non-null     float64
 43  2021.04 월  17 non-null     float64
 44  2021.05 월  17 non-null     float64
 45  2021.06 월  17 non-null     float64
 46  2021.07 월  17 non-null     float64
 47  2021.08 월  17 non-null     float64
 48  2021.09 월  17 non-null     float64
 49  2021.10 월  17 non-null     float64
 50  2021.11 월  17 non-null     float64
 51  2021.12 월  17 non-null     float64
 52  2022.01 월  17 non-null     float64
 53  2022.02 월  17 non-null     float64
 54  2022.03 월  17 non-null     float64
 55  2022.04 월  17 non-null     float64
 56  2022.05 월  17 non-null     float64
 57  2022.06 월  17 non-null     float64
 58  2022.07 월  17 non-null     float64
 59  2022.08 월  17 non-null     float64
 60  2022.09 월  17 non-null     float64
 61  2022.10 월  17 non-null     float64
 62  2022.11 월  17 non-null     float64
 63  2022.12 월  17 non-null     float64
 64  2023.01 월  17 non-null     float64
 65  2023.02 월  17 non-null     float64
 66  2023.03 월  17 non-null     float64
 67  2023.04 월  17 non-null     float64
 68  2023.05 월  17 non-null     float64
dtypes: float64(65), object(4)
memory usage: 9.3+ KB

In [38]:
df_new.head()

,시도별,품목별,항목,단위,2018.01 월,2018.02 월,2018.03 월,2018.04 월,2018.05 월,2018.06 월,...,2022.08 월,2022.09 월,2022.10 월,2022.11 월,2022.12 월,2023.01 월,2023.02 월,2023.03 월,2023.04 월,2023.05 월
0,전국,쌀,소비자물가지수[2020=100],2020=100,82.418,84.490,86.893,89.075,89.636,90.086,...,92.80,90.34,91.08,96.16,95.76,94.26,94.57,93.99,93.46,94.05
1,전국,배추,소비자물가지수[2020=100],2020=100,60.266,83.293,83.786,83.593,67.793,54.508,...,159.40,210.79,145.04,78.42,62.31,64.35,69.01,78.49,89.09,93.28
2,전국,상추,소비자물가지수[2020=100],2020=100,89.102,92.305,74.956,76.172,73.384,73.609,...,179.79,172.65,103.27,88.20,89.76,136.64,119.22,107.61,92.81,89.22
3,전국,무,소비자물가지수[2020=100],2020=100,63.948,99.978,117.509,114.397,129.424,97.947,...,146.13,171.60,174.99,114.19,88.16,85.31,88.66,85.42,86.97,100.74
4,전국,오이,소비자물가지수[2020=100],2020=100,113.848,130.452,102.050,88.483,78.881,75.259,...,157.40,139.27,124.60,94.26,120.39,177.52,190.91,167.01,126.87,106.08

In [43]:
mtr_from_df = df_new["품목별"]
mtr_from_df = list(mtr_from_df)

result = []

for s in mtr_arr:
  if s in mtr_from_df:
    continue
  else:
    result.append(s)

result.

['냉동참조기', '애호박', '동태', '쇠고기', '삼겹살']

In [74]:
## 위 5개 항목을 제외하고 2018.01 ~ 2023.05까지의 물가지수 데이터는 잘 보존되어 있네요
## 칼럼명만 YYYY_MM 형태로 통일할게요

def change_date_format(s):
  s = s[:-2].split('.')
  s = '-'.join(s)
  return s

df_date_columns = list(map(change_date_format, df_new.columns[4:]))
df_new_date_columns = [*df_new.columns[:4], *df_date_columns]

df_new.columns = df_new_date_columns
df_new.head()

,시도별,품목별,항목,단위,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,...,2022-08,2022-09,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05
0,전국,쌀,소비자물가지수[2020=100],2020=100,82.418,84.490,86.893,89.075,89.636,90.086,...,92.80,90.34,91.08,96.16,95.76,94.26,94.57,93.99,93.46,94.05
1,전국,배추,소비자물가지수[2020=100],2020=100,60.266,83.293,83.786,83.593,67.793,54.508,...,159.40,210.79,145.04,78.42,62.31,64.35,69.01,78.49,89.09,93.28
2,전국,상추,소비자물가지수[2020=100],2020=100,89.102,92.305,74.956,76.172,73.384,73.609,...,179.79,172.65,103.27,88.20,89.76,136.64,119.22,107.61,92.81,89.22
3,전국,무,소비자물가지수[2020=100],2020=100,63.948,99.978,117.509,114.397,129.424,97.947,...,146.13,171.60,174.99,114.19,88.16,85.31,88.66,85.42,86.97,100.74
4,전국,오이,소비자물가지수[2020=100],2020=100,113.848,130.452,102.050,88.483,78.881,75.259,...,157.40,139.27,124.60,94.26,120.39,177.52,190.91,167.01,126.87,106.08